<div class="blog-column">
  <a href="javascript:;" data-modal="postColumn"
    class="blog-column--item blog-column--add  item-row-4 item-column-4"></a>
  {{#each list}}
  <a href="javascript:;" data-router="index" data-column-id={{_id}}
    class="blog-column--item item-row-{{size}} item-column-{{size}}">
    <p class="blog-column--name">{{name}}</p>
    <p class="blog-column--count">文章数量: {{aids.length}}</p>
  </a>
  {{/each}}
  </a>
</div>